<div class="main">
    <%- include('./landing_page') %>
        <%- include('./featured_books') %>
            <%- include('./discount') %>
                <%- include('./new_books') %>
</div>
<%- include('./subscribe') %>
<%- include('./feedback') %>
<%- include('./footer') %>